{% extends "layout.html" %}
{% block content %}

<body>
    <title>Uuden tunnuksen luonti</title>
    <h1>Uuden tunnuksen luonti</h1>
        <form action="/new_user" method="POST">
        <label for="username">Tunnus:</label>
        <input type="text" name="username">
        <label for="password1">Salasana:</label>
        <input type="password1" name="password1">
        <label for="password2">Salasana uudelleen:</label>
        <input type="password2" name="password2">
        <p>Ylläpitäjä?<br>
        <input type="radio" id="yes" name="isadmin" value="True">
        <label for="yes">Kyllä</label><br>
        <input type="radio" id="no" name="isadmin" value="False">
        <label for="no">Ei</label><br>
        <input type="submit" value="Lisää">
    </form>
</body>

{% endblock %}