{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}


<form2 action="/delete" method="post">

    <p>Minkä elokuvan haluat poistaa?</p>

    {% for film in list %}
    <input type="radio" name="film" value="{{ film.id }}"> {{ film.title }} <br>
    {% endfor %}

    <p>
    <input type="submit" value="Poista">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form2>

<p>
<a href="/">Palaa takaisin</a>

{% else %}
<p>Et ole kirjautunut sisään.</p>
<a href="/">Palaa kirjautumiseen</a> |
{% endif %}

{% endblock %}