{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}



<p>Minkä elokuvan haluat poistaa?</p>
<form action="/delete" method="post">
    
    {% for film in list %}
    <input type="radio" id="film" name="film" value="{{ film.id }}">
    <label for="film">{{ film.title }}</label>
    {% endfor %}
    
    <input type="submit" value="Poista">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>


<a href="/">Palaa takaisin</a>

{% else %}
<p>Et ole kirjautunut sisään.</p>
<a href="/">Palaa kirjautumiseen</a> |
{% endif %}

{% endblock %}