{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}


<h1>Muokkaa elokuvaa</h1>

<form method="POST" action="/edit/{{ film_id }}"> 
    <label for="title">Nimi:</label><br>
    <input type="text" id="title" name="title" value="{{ film.title }}"><br>
    
    <label for="description">Kuvaus:</label><br>
    <input type="text" id="description" name="description" value="{{ film.description }}"><br>
    
    <label for="length">Kesto:</label><br>
    <input type="text" id="length" name="length" value="{{ film.length }}"><br>
    
    <label for="genre">Genre:</label><br>
    <input type="text" id="genre" name="genre" value="{{ film.genre }}"><br>
    
    <label for="director">Ohjaaja:</label><br>
    <input type="text" id="director" name="director" value="{{ film.director }}"><br>

    <label for="writer">Käskirjoittaja:</label><br>
    <input type="text" id="writer" name="writer" value="{{ film.writer }}"><br>
    <br>
    <input type="submit" value="Tallenna muutokset">
</form>

{% else %}
<p>Et ole kirjautunut sisään.</p>
<a href="/">Palaa kirjautumiseen</a> |
{% endif %}


{% endblock %}