{% extends "layout.html" %}
{% block content %}

{% if session.username %}

<hr>
{% for poll in elokuvat %}
Elokuva: {{ poll.nimi }} <br>
Keskiarvosana: {{ poll.average}} <br>
<a href="/poll/{{ poll.id }}">Anna arvio</a> |
<a href="/result/{{ poll.id }}">Tarkastele tietoja</a> |
<a href="/edit/{{ poll.id }}">Muokkaa tietoja</a> |
<a href="/visible/{{ poll.id }}">Valitse näytettävät tiedot</a> <br>
<hr>
{% endfor %}

{% else %}
<p>Et ole kirjautunut sisään.</p>
<a href="/">Palaa kirjautumiseen</a> |
{% endif %}

{% endblock %}