{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}

<hr>
{% for poll in films %}
Elokuva: {{ poll.title }} <br>
Keskiarvosana: {{ poll.average}} <br>
<a href="/poll/{{ poll.id }}">Anna arvio</a> |
<a href="/result/{{ poll.id }}">Tarkastele tietoja</a> |
<a href="/edit/{{ poll.id }}">Muokkaa tietoja</a> |
<a href="/visible/{{ poll.id }}">Valitse näytettävät tiedot</a> |
<a href="/add_to_group/{{ poll.id }}">Lisää ryhmään</a> <br>
<hr>
{% endfor %}

{% else %}
<p>Et ole kirjautunut sisään.</p>
<a href="/">Palaa kirjautumiseen</a> |
{% endif %}

{% endblock %}