{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}


{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<hr>



{% else %}
<p>Et ole kirjautunut sisään.</p>
<form action="/login" method="POST">
    <label for="username">Tunnus:</label>
    <input type="text" name="username">
    <label for="password">Salasana:</label>
    <input type="password" name="password">
    <input type="submit" value="Kirjaudu">
</form>
{% endif %}
{% endblock %}
