<!doctype html>

<head>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    
    <title>Elokuvasovellus</title>
    <div class="header">
        <h1>Elokuvasovellus</h1>
    </div>
    <nav>
        <ul>
            {% if session.username %}
            <li><a href="/">Etusivu</a></li>
            <li><a href="/films">Elokuvat</a></li>
            <li><a href="/new">Lisää elokuva</a></li>
            <li><a href="/delete">Poista elokuva</a></li>
            <li><a href="/new_group">Lisää ryhmä</a></li>
            <li><a href="/search">Haku</a></li>
            {% else %}
            <p>Et ole kirjautunut sisään. Luo uusi tunnus tai kirjaudu sisään.</p>
            {% endif %}
            <li><a href="/admin">Luo uusi tunnus</a></li>
        </ul>
    </nav>
    <hr>
    {% block content %}{% endblock %}
    

</body>