<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>Elokuvasovellus</title>
<h1>Elokuvasovellus</h1>
<ul>
    {% if session.username %}
    <li><a href="/">Etusivu</a></li>
    <li><a href="/films">Elokuvat</a></li>
    <li><a href="/new">Lisää elokuva</a></li>
    <li><a href="/delete">Poista elokuva</a></li>
    <li><a href="/search">Haku</a></li>
    {% else %}
    <p>Et ole kirjautunut sisään. Luo uusi tunnus tai kirjaudu sisään.</p>
    {% endif %}
    <li><a href="/admin">Luo uusi tunnus</a></li>
</ul>
<hr>
{% block content %}{% endblock %}
<hr>