<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>Elokuvasovellus</title>
<h1>Elokuvasovellus</h1>
<ul>
    <li><a href="/">Etusivu</a></li>
    <li><a href="/elokuvat">Elokuvat</a></li>
    <li><a href="/new">Lisää elokuva</a></li>
    <li><a href="/delete">Poista elokuva</a></li>
    <li><a href="/haku">Haku</a></li>
    <li><a href="/admin">Luo uusi tunnus</a></li>
</ul>
<hr>
{% block content %}{% endblock %}
<hr>