{% extends "layout.html" %}
{% block content %}
{% if session.username %}

<form action="/create" method="POST">
<p>Elokuva:<br>
<input type="text" name="nimi"></p>
<p>Kuvaus:<br>
<input type="text" name="kuvaus"></p>
<p>Kesto:<br>
<input type="text" name="kesto"></p>
<p>Genre:<br>
<input type="text" name="genre"></p>
<p>Ohjaaja:<br>
<input type="text" name="ohjaaja"></p>
<p>Käsikirjoittaja:<br>
<input type="text" name="kasikirjoittaja"></p>
<input type="submit" value="Lisää elokuva">
</form>

{% else %}
<p>Et ole kirjautunut sisään.</p>
<a href="/">Palaa kirjautumiseen</a> |
{% endif %}

{% endblock %}