{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}

<form action="/create" method="POST">
    <label for="title">Elokuva:</label>
    <input type="text" name="title">
    <label for="description">Kuvaus:</label>
    <input type="text" name="description">
    <label for="length">Kesto:</label>
    <input type="text" name="length">
    <label for="genre">Genre:</label>
    <input type="text" name="genre">
    <label for="director">Ohjaaja:</label>
    <input type="text" name="director">
    <label for="writer">Käsikirjoittaja:</label>
    <input type="text" name="writer">
    <input type="submit" value="Lisää elokuva">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% else %}
<p>Et ole kirjautunut sisään.</p>
<a href="/">Palaa kirjautumiseen</a> |
{% endif %}

{% endblock %}