{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}

<form action="/create" method="POST">
<p>Elokuva:<br>
<input type="text" name="title"></p>
<p>Kuvaus:<br>
<input type="text" name="description"></p>
<p>Kesto:<br>
<input type="text" name="length"></p>
<p>Genre:<br>
<input type="text" name="genre"></p>
<p>Ohjaaja:<br>
<input type="text" name="director"></p>
<p>Käsikirjoittaja:<br>
<input type="text" name="writer"></p>
<input type="submit" value="Lisää elokuva">
</form>

{% else %}
<p>Et ole kirjautunut sisään.</p>
<a href="/">Palaa kirjautumiseen</a> |
{% endif %}

{% endblock %}