{% extends "layout.html" %}
{% block content %}
{% if session.username %}

Nimi: {{ nimi }} <br>
Kuvaus: {{ kuvaus }} <br>
Kesto: {{ kesto }} <br>
Genre: {{ genre }} <br>
Ohjaaja: {{ ohjaaja }} <br>
Käskirjoittaja: {{ kasikirjoittaja }} <br>
Keskiarvosana: {{average}} <br>
<hr>
{% for rating in ratings %}
<i>Arvosana:</i> {{ rating.rating }}
<p>
<i>Arvostelu:</i> {{ rating.message }}
<p>
<form action="/delete_rating" method="post">
<input type="submit" value="Poista arvostelu">
<input type="hidden" name="id" value="{{ rating.id }}">
</form>
<p>
<hr>
{% endfor %}

</ul>
<hr>
<a href="/elokuvat">Takaisin</a>

{% else %}
<p>Et ole kirjautunut sisään.</p>
<a href="/">Palaa kirjautumiseen</a> |
{% endif %}

{% endblock %}