{% extends "layout.html" %}
{% block content %}

<form method="POST" action="/visible/{{film_id}}">
    <p>Elokuva<br>
    <input type="radio" id="yes" name="title" value="True" checked>
    <label for="yes">Kyllä</label><br>
    <input type="radio" id="no" name="title" value="False" >
    <label for="no">Ei</label><br></p>

    <p>Kuvaus<br>
    <input type="radio" id="yes" name="description" value="True" checked>
    <label for="yes">Kyllä</label><br>
    <input type="radio" id="no" name="description" value="False">
    <label for="no">Ei</label><br></p>

    <p>Kesto<br>
    <input type="radio" id="yes" name="length" value="True" checked>
    <label for="yes">Kyllä</label><br>
    <input type="radio" id="no" name="length" value="False">
    <label for="no">Ei</label><br></p>

    <p>Genre<br>
    <input type="radio" id="yes" name="genre" value="True" checked>
    <label for="yes">Kyllä</label><br>
    <input type="radio" id="no" name="genre" value="False">
    <label for="no">Ei</label><br></p>

    <p>Ohjaaja<br>
    <input type="radio" id="yes" name="director" value="True" checked>
    <label for="yes">Kyllä</label><br>
    <input type="radio" id="no" name="director" value="False">
    <label for="no">Ei</label><br></p>

    <p>Käskirjoittaja<br>
    <input type="radio" id="yes" name="writer" value="True" checked>
    <label for="yes">Kyllä</label><br>
    <input type="radio" id="no" name="writer" value="False">
    <label for="no">Ei</label><br></p>

    <input type="submit" value="Päivitä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>


{% endblock %}